dataset/**
dags/__pycache__/train_model_dag.cpython-312.pyc
src/__pycache__/data_augmentation.cpython-312.pyc
src/__pycache__/generate_synthetic_data.cpython-312.pyc
src/__pycache__/load_dataset.cpython-312.pyc
src/__pycache__/model_utils.cpython-312.pyc
src/__pycache__/split_dataset.cpython-312.pyc
src/__pycache__/train_model.cpython-312.pyc
src/__pycache__/model.cpython-312.pyc
output/**
src/__pycache__/models.cpython-312.pyc
